<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312064957830-2eraititb0rckooq71s7op0a0k4e8948.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312064957830-2eraititb0rckooq71s7op0a0k4e8948</string>
	<key>API_KEY</key>
	<string>AIzaSyDeWN6B5Gbp2mjhJHKqi8khgohT_9JkD_I</string>
	<key>GCM_SENDER_ID</key>
	<string>312064957830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniketwarty.conch.conch</string>
	<key>PROJECT_ID</key>
	<string>conch-e6c0a</string>
	<key>STORAGE_BUCKET</key>
	<string>conch-e6c0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312064957830:ios:dcaeeac34a9a96f35ea007</string>
</dict>
</plist>